<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">

        <div class="content">
            <h1 class="text-center" >Bonjour Mr,Mme</h1>
            <p class="block">
                Welcome to <strong>Easy Fit</strong>
                Merci pour avoir commander des produits de chez nous.
                Vous pouvez annuler votre commande seulement dans les 2 jours qui suivent
            </p>
        </div>
    </div>
</div>
</body>
</html>